<!DOCTYPE html>
<html>
<head>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<title>GUESS MY LDAP =D</title>
</head>
<body>
<div class="container">
	<div>Guess my ldap
		<nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/index">Home</a></li>
          </ul>
        </nav>
	</div>
	<hr>
	{% block content %}{% endblock %}
	<footer class="footer">
        <p>&copy; Toru 2017</p>
      </footer>
      </div>
</body>
</html>